.main{
    display: flex;
    gap: 30px;
}

.categoryContainer{
    padding: 10px;
    align-items: center;
    background-color: gray;

}


.list{
    display: flex;
    flex-direction: column;

}

.btn{
    border: none;
    padding: 20px;
    background-color: gray;

}

.itemsContainer{
    align-items: center;


}

.itemElement{
    background-color: gray;

}

.item{
    padding: 10px;
}

.infoContainer{
    background-color: gray;
}
